body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 5%;
}

button{
    width: 8vw;
    height: 3vw;
    margin: 2vw;
}